.header_signs {
    width: 60px; height: 60px;
}

.header_signs:hover {
    cursor: pointer;
    transition: 0.5s;
}

.home_sign {
    background-image: url(../media/images/header_signs/home_sign.png);
    background-size: 100%;
}

.about_sign {
    background-image: url(../media/images/header_signs/about_sign_hover.png);
    background-size: 100%;
}

.game_map_sign {
    background-image: url(../media/images/header_signs/game_map_sign_hover.PNG);
    background-size: 100%;
}

.page_names {
    background-color: rgb(0, 0, 0);
    justify-content: center; opacity: 0;
    padding-left: 10px; padding-right: 10px;
    padding-top: 3px; padding-bottom: 3px;
    visibility: hidden; font-size: 16px;
    transform: translateY(-9px);
    transition: 0.45s;
}

.page_lists {
    background-color: rgb(5, 5, 5);
    justify-content: center;
    padding-left: 10px; padding-right: 10px;
    font-size: 20px;
    top: 50px;
}

.lists_strings {
    text-decoration: none;
    color: white; font-size: 16px;
    transform: translateY(-10px);
    transition: 0.6s ease;
}

.lists_strings:hover {
    text-shadow: 0 0 15px blue, 0 0 15px blue, 
    0 0 15px blue;
    transition: 0.6s ease;
}

.page_lists.active .lists_strings {
    opacity: 1;
    transform: translateY(0);
}

.header_links:hover ~ .page_names {
    visibility: visible; opacity: 1;
    transform: translateY(0px);
    transition: 0.45s;
}

.header_links:hover ~ #profile_name {
    visibility: visible; opacity: 1;
    transform: translateY(25px);
    transition: 0.45s;
}


