#loader {
    visibility: visible;
    position: fixed; text-align: center;
    width: 100%; height: 100%; z-index: 99;
    background-color: rgb(77, 77, 77);
    font-size: 24px;
}

#loader_text {
    font-size: 24px; position: relative; top: 38vh;
    text-shadow: 0 0 20px rgb(49, 75, 221),  0 0 20px rgb(49, 75, 221),
    0 0 10px rgb(49, 75, 221), 0 0 10px rgb(49, 75, 221);
}

#progress_bar {
    width: 50%; height: 18px; relative; top: 38vh;
    border: solid 2px white; border-radius: 18px;
    box-shadow: 0 0 15px blue; margin: 0 auto;
}

#progress {
    height: 18px;
    background-color: rgb(255, 255, 255);
    border-radius: 18px;
    animation: stretch 29s;
}

@keyframes stretch {
  0% {width: 1.6%;}
  100% {width: 100%;}
}

