#finish, #next {
    display: none;
}

.choices {
    border: 1px solid white; cursor: pointer;
    text-align: center; padding-top: 5px; border-redius: 10px;
    font-size: 30px; height: 40px; width: 60px; 
}