#finish, #next, #replay, #timebar {
    display: none;
}

#currQues {
    font-size: 30px;
}

#timebar {
    display: flex; justify-content: center;
    width: 80%; height: 10px;
    border: solid 4px white; border-radius: 10px;
}

#time {
    width: 100%;
}

.choices {
    border: 2px solid white; transition: 0.5s;
    border-radius: 10px; cursor: pointer; 
    display: flex; align-items: center; justify-content: center;
    font-size: 30px; height: 45px; width: 60px; margin: 5px;
}

.choices:hover {
    text-shadow:0 0 5px white, 
    0 0 15px white, 
    0 0 25px white,
    0 0 35px white,
    0 0 45px white;
    transition: 0.5s;
}

.choices:active {
    text-shadow:0 0 5px white, 
    0 0 15px white;
    transition: 0.5s;
}