* {
  color: white;
  text-shadow: 0 0 5px rgb(0, 26, 255), 
  0 0 15px rgb(0, 26, 255), 
  0 0 25px rgb(0, 26, 255),
  0 0 35px rgb(0, 26, 255),
  0 0 45px rgb(0, 26, 255);
}

body {
    visibility: hidden; 
    overflow: hidden;
    margin: 0; padding: 0; font-weight: 300;
    background-color: rgb(14, 14, 14);
    font-family: "Century Gothic";
    font-weight: 200;
    transform-style: preserve-3d;
    perspective: 10px;
    overflow-x: hidden;
}

.wrapper {
    height: 100vh; perspective: 10px;
    overflow-x: hidden; overflow-y: scroll;
}

main {
    margin-left: 15%; margin-right: 15%; 
    margin-top: 70px; position: relative;
}

header {
    background-color: transparent;
    display: flex; position: fixed; flex-direction: column;
    height: 100%; width: 70px; z-index: 10;
}

.hist_heading {
  font-size: 40px;
}

.hist_event_heading {
  font-size: 25px;
}

/* width */
::-webkit-scrollbar {
    width: 15px; 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent; 
    margin-top: 60px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(36, 28, 150);
    border-radius: 15px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(25, 20, 105); 
  }

a {
  text-decoration: none;
}

a:hover {
  text-shadow: 0 0 5px rgb(0, 26, 255), 
  0 0 15px rgb(0, 26, 255), 
  0 0 25px rgb(0, 26, 255),
  0 0 35px rgb(0, 26, 255),
  0 0 45px rgb(0, 26, 255);
}