<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquaparks</title>
</head>
<body>
    <div>
        <ul>
            {% for aquapark in aquaparks %}
                <li>
                    <h1>{{ aquapark.name }}</h1>
                    <h2>{{ aquapark.address }}, {}{{ city.name }}</h2>
                    <p>{{ aquapark.description }}</p>
                </li>
            {% endfor %}
        </ul>
        <h1></h1>
        <h2></h2>
        <h2></h2>
        <p></p>
    </div>
</body>
</html>