<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquaparks</title>
</head>
<body>
    {% for city in cities %}
    <h2>Аквапарки в городе {{ city.name }}</h2>
    <ul>
        {% for aquapark in city.aquapark_set.all %}
            <li>{{ aquapark.name }} (Город: {{ city.name }})</li>
        {% empty %}
            <li>В этом городе нет аквапарков.</li>
        {% endfor %}
    </ul>
{% endfor %}
</body>
</html>