body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0)), url(f-22.jpg);
    background-attachment: fixed;
    background-size: cover;
    color:rgb(255, 255, 255);
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
}

.page_menu {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 5px;
    padding: 5px;
}

.game_logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    min-height: 270px;
    max-height: 720px;
    min-width: 480px;
    max-width: 1280px;
}

.reduced_logo {
    min-height: 135px;
    max-height: 360px;
    min-width: 240px;
    max-width: 640px;
}

.main_text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    padding: 10px;
}

.long_text {
    font-size: 32px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.short_text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    text-align: center;
}

.blanks_container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: auto;
}

.registration_blanks {
    width: 350px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid white;
    color: white;
    padding: 5px;
    font-size: 20px;
}

.buttons {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 200px;
    height: 50px;
    font-size: 25px;
    border-radius: 0px;
    border: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: none;
    color: white;
    margin: 15px;
}

.header_buttons {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    margin-left: 30px;
}

.header_buttons:hover {
    color: rgb(59, 62, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    margin-left: 30px;
    transition: 0.5s;
}

.big_buttons {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 300px;
    height: 50px;
    font-size: 25px;
    border: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

.buttons_in_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons:hover {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 200px;
    height: 50px;
    font-size: 25px;
    border-radius: 0px;
    border: rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    transition: 0.5s;
}

.big_buttons:hover {
    border: rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    transition: 0.5s;
}