body {
    background-color: rgb(24, 24, 24);
    font-family: "Orbitron";
    color: rgb(218, 218, 218);
    text-shadow: 0 0 5px rgb(151, 151, 151);
    margin: 0;
}

main {
    margin-left: 15px;
}

.choices:hover {
    cursor: pointer;
}

button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    height: 50px;
}

button {
    margin: 5px 0 5px 0;
}

span {
    position: relative;
    left: 12px;
}

header {
    background-color: rgb(36, 36, 36);
    text-align: center;
    padding: 10px 0 19px 0;
    font-size: 30px;
    height: 30px;
}

.anchors {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.anchors:hover{
    text-shadow: 0 0 10px rgb(18, 187, 55), 0 0 20px rgb(18, 187, 55), 0 0 30px rgb(18, 187, 55);
    transition: 0.5s;
}