<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <span>Name: </span>
        {{ form.name }}
        {{  }}
    </form>
    <style>
        .name{
            transition: 0.5s;
        }
        .name:focus{
            background-color: blue;
            transition: 0.5s;
        }
    </style>
</body>
</html>