{% extends "main_app/base.html" %}
{% load static %}
{% block content %}
        <title>Игра "Посчитай пример"</title>
        <h1>Игра "Посчитай пример"</h1>

    <h2>Пример:</h2>
    <p>{{ question }}</p>

    {% if result %}
        <h3>Результат: {{ result }}</h3>
        <p>Вы заработали {{ score }} очков!</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ответить</button>
    </form>

    <p><a href="">Сгенерировать новый пример</a></p>
{% endblock content %}
