{% extends "main_app/base.html" %}
{% load static %}
{% block content %}
    <title>Home</title>
    <h1 class="glow"><span class="blue_text">Math crusaders</span> home</h1>
    <h2>Short description</h2>
    <p>
        This website is designed to make everyone feel like in the math world. Here,
        you can do a lot of things, like:
        <ul>
            <li>Learn Math</li>
            
            <li></li>
            <li>Fight in PvP</li>
            <li>Chat with other players</li>
            <li>Compete in Tournaments</li>
        </ul>
    </p>
{% endblock content %}        