{% load static %}
<div class="register_form">
    <form method="POST">
        <fieldset class="form-group">
            {% csrf_token %}
            <div> <!--Content-->
                {{ form.content }}
                {% if form.content.errors %}
                    <div>
                        {% for error in form.content.errors %}
                            <p class="messages error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </fieldset>
    </form>
</div>