{% extends "main_app/base.html" %}
{% block content %}
    <title>Fresh News</title>
        {% for post in news_posts %}
        <div class="news_container">
            <div class="news_article">
                <h1 class="blue_text news_title">{{ post.title }}</h1>
                <p class="news_text">{{ post.content }}</p>
            </div>
            <div class="news_line_divider"></div>
            <h4 class="date_container">
                {{ post.publish_date|date:"D, M j, Y" }}
            </h4>
        </div>
    {% endfor %}
{% endblock content %}