{% extends "main_app/base.html" %}
{% block content %}
    <title>Fresh News</title>
    <div class="news_grid">
        {% for post in news_posts %}
        <div class="glow news_container">
            <div class="news_article">
                <h1>{{ post.title }}</h1>
                <p>{{ post.content }}</p>
            </div>
            <div class="news_line_divider"></div>
            <h5 class="date_container">
                {{ post.publish_date|date:"D, M j, Y" }}
            </h5>
        </div>
    {% endfor %} 
    </div>
{% endblock content %}