{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="{% static 'main_app/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main_app/text-set.css' %}">
    </head>
    <body>
        <div class="wrapper">
        <header>
            <span class="header-links" href="">Home</span>
            <span class="header-links" href="">About</span>
            <span class="header-links" href="">History</span>
            <span class="header-links" href="">News</span>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <img src="../../static/images/void.png" id="background_1">
    </div>
    </body>
</html>