<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for user in users %}
        <h1 class="{% cycle 'gray' 'lightgray' %}">{{ user.username }}</h1>
    {% endfor %}
    <style>
        *
        .gray {
            background-color: gray;                
        }

        .lightgray {
            background-color: lightgray;        
        }
    </style>
</body>
</html>