<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of products</h1>
    {% for product in products %}
        <ul>
            <li><a href="products/{{  }}"></a>{{ product.name }}</li>
            <li>Cost: {{ product.price }}</li>
            {% if product.available == True %}
                <li style="color:green;">Available now</li>
            {% else %}
                <li style="color:red;">Not available</li>
            {% endif %}
        </ul>
    {% endfor %}
    
</body>
</html>