body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    font-family: Calibri Light;
    transform-style: preserve-3d;
    perspective: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

header, main {
    position: relative;
    justify-content: center;
    text-align: center;
}

#background_1 {
    background-image: url(../images/background.png);
    background-size: 20%;
    background-repeat: repeat;
    position: absolute;
    z-index: -1;
    height: 500vh;
    transform: translateZ(-10px) translateY(-1000px) scale(1.5);
}

main {
    margin-left: 6%;
    margin-right: 6%;
}

header {
    background-color: rgba(10,10,10,0.8);
    font-size: 250%;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

