.header_signs {
    background-size: 60px 60px;
    background-repeat: no-repeat;
    transition: 0.45s;
}

.header_signs:hover {
    cursor: pointer;
    transform: translateY(-3px);
    transition: 0.45s;
}

.home_sign{
    background-image: 
    url(../../media/img/header_signs/home_sign.png);
}

.home_sign:hover{
    transform: none;
}

.arena_sign{
    background-image: url('../../media/img/header_signs/arena_sign.PNG')
}

.arena_sign:hover{
    background-image: url('../../media/img/hovered_signs/arena_sign_hover.PNG')
}

.rating_sign{
    background-image: url('../../media/img/header_signs/rating_sign.PNG')
}

.rating_sign:hover{
    background-image: url('../../media/img/hovered_signs/rating_sign_hover.PNG')
}


.about_sign{
    background-image: 
    url(../../media/img/header_signs/about_sign.png);
}

.about_sign:hover{
    background-image: 
    url(../../media/img/hovered_signs/about_sign_hover.png);
}

.hist_sign{
    background-image: 
    url(../../media/img/header_signs/hist_sign.png);
}

.hist_sign:hover{
    background-image: 
    url(../../media/img/hovered_signs/hist_sign_hover.png);
}

.news_sign{
    background-image: 
    url(../../media/img/header_signs/news_sign.png);
}

.news_sign:hover{
    background-image: 
    url(../../media/img/hovered_signs/news_sign_hover.png);
}

.game_map_sign{
    background-image: 
    url(../../media/img/header_signs/game_map_sign.PNG);
}

.game_map_sign:hover{
    background-image: 
    url(../../media/img/hovered_signs/game_map_sign_hover.png);
}

.statistics_sign{
    background-image: 
    url(../../media/img/header_signs/statistics_sign.PNG);
}

.statistics_sign:hover{
    background-image: 
    url(../../media/img/hovered_signs/statistics_sign_hover.PNG);
}

.chat_sign{
    background-image: 
    url(../../media/img/header_signs/chat_sign.png);
}

.chat_sign:hover{
    background-image: 
    url(../../media/img/hovered_signs/chat_sign_hover.png);
}

.register_sign{
    background-image: 
    url(../../media/img/header_signs/register_sign.PNG);
}

.register_sign:hover{
    background-image: 
    url(../../media/img/hovered_signs/register_sign_hover.PNG);
}

.login_sign{
    background-image: 
    url(../../media/img/header_signs/login_sign.PNG);
}

.login_sign:hover{
    background-image: 
    url(../../media/img/hovered_signs/login_sign_hover.png);
}

.logout_button {
    border: none;
    background: transparent;
    padding: 0;
    display: inline-block;
}

.logout_sign {
    background-image: 
    url(../../media/img/header_signs/logout_sign.PNG);
}

.logout_sign:hover {
    background-image: 
    url(../../media/img/hovered_signs/logout_sign_hover.PNG);
}

.profile_sign {
    border-radius: 50%;
    border: solid 1.5px white;
    box-shadow: 0 0 5px blue, 0 0 10px blue;
    transform: translateY(12.5px);
}

.profile_sign:hover {
    border-radius: 50%;
    transform: translateY(9.5px);
}

.noimage_profile_sign {
    background-image: url(../../../../media/profile_pics/anonymous.PNG);
}

.page_names {
    background-color: rgb(0, 0, 0);
    justify-content: center; opacity: 0;
    padding-left: 10px; padding-right: 10px;
    padding-top: 3px; padding-bottom: 3px;
    visibility: hidden; font-size: 16px;
    transform: translateY(-9px);
    transition: 0.45s;
}

#profileTable {
    transform: translateY(16px);
}

#profileTable.active {
    transform: translateY(25px);
}

.page_lists {
    background-color: rgb(5, 5, 5);
    justify-content: center;
    padding-left: 10px; padding-right: 10px;
    font-size: 20px;
    top: 50px;
}

.lists_strings {
    text-decoration: none;
    color: white; font-size: 16px;
    transform: translateY(-10px);
    transition: 0.6s ease;
}

.lists_strings:hover {
    text-shadow: 0 0 15px blue, 0 0 15px blue, 
    0 0 15px blue;
    transition: 0.6s ease;
}

.page_lists.active .lists_strings {
    opacity: 1;
    transform: translateY(0);
}

.header_links:hover ~ .page_names {
    visibility: visible; opacity: 1;
    transform: translateY(0px);
    transition: 0.45s;
}

.header_links:hover ~ #profile_name {
    visibility: visible; opacity: 1;
    transform: translateY(25px);
    transition: 0.45s;
}


.header_buttons {
    text-align: center; height: 60px;
    margin-right: auto; margin-left: auto;
}