{% extends "main_app/base.html" %}
{% load static %}
{% block content %}
    <title>Home</title>
    <h1 class="glow"><span class="blue_text">NeoMath</span> home</h1>
    <h2>Short description</h2>
    <p>
        This website is designed to help you with learning math. Here,
        you can do many of things, for example:
        <ul>
            <li>Learn about math overall</li>
            <li>Investigate math tricks and learn how to make them</li>
            <li>Fight in math PvP-battles</li>
            <li>Communicate with other math fans</li>
            <li>Compete in Math Tournaments</li>
        </ul>
    </p>
{% endblock content %}        