.register_form {
    background-color: rgba(0,0,0,0.5);
    place-self: center; width: auto; 
    border-radius: 10px; border: solid 1px white; 
    box-shadow: 0 0 15px #002fff;
    vertical-align: middle;
}

.form-group {
    border-radius: 10px;
    margin-left: 15%; margin-right: 15%;
}


.form-text, .helptext {
    display: none;
}

input[type="text"], 
input[type="email"], 
input[type="password"], 
textarea {
    background-color: transparent; 
    border: 1px solid rgb(255, 255, 255); 
    color: white; text-align: center;
    padding: 10px; margin-top: 5px; margin-bottom: 5px;
    border-radius: 5px; 
    transition: 0.5s;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus, 
textarea:focus {
    background-color: transparent; 
    outline: none; color: white;
    border-color: #ffffff; 
    box-shadow: 0 0 15px #002fff; 
    transition: 0.5s;
}

.log_in-link {
    text-decoration: none;
    color: rgb(49, 75, 221);
    transition: 0.5s;
}

.log_in-link:hover {
    color: rgb(49, 129, 221);
    text-shadow: 0 0 10px rgb(49, 129, 221);
    transition: 0.5s;
}

.sign_up-button {
    background-color: rgba(0,0,0,0);
    padding-left: 10px; padding-right: 10px;
    margin-top: 20px;
    color: white; border-radius: 5px;
    font-family: "Montserrat";
    border: solid 3px white;
    font-size: 25px;
    transition: 0.5s;
}

.sign_up-button:hover {
    box-shadow: 0 0 15px #002fff;
    text-shadow: 0 0 10px #002fff, 0 0 10px #002fff;
    transition: 0.5s;
}

.bottom_text {
    margin-top: 10px;
}