.upd_form {
    margin-left: 35%; margin-right: 35%;
    background-color: rgba(0,0,0,0.6);
    border: 3px solid white;
    border-radius: 10px;
}

.upd_form_gap {
    margin: 20px;
}

.image_container {
    border-radius: 50%;
}

.profile_image {
    border-radius: 50%;
    border: solid 4px white;
    box-shadow: 0 0 10px blue, 0 0 20px blue;
}