.glow {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}

.blue_text {
    color: white; text-shadow: 0px 0px 24px
    rgb(26, 54, 212), 0px 0px 16px
     rgb(26, 54, 212), 0px 0px 8px rgb(26, 54, 212);
}

#loader_text {
    font-size: 24px;
    text-shadow: 0 0 20px rgb(49, 75, 221),  0 0 20px rgb(49, 75, 221),
    0 0 10px rgb(49, 75, 221), 0 0 10px rgb(49, 75, 221);
  }

.green_text {
    color: rgb(43, 148, 22);
    text-shadow: 0px 0px 20px rgb(43, 148, 22),
    0px 0px 10px rgb(43, 148, 22);
}

.orange_text {
    color: rgb(189, 145, 25);
    text-shadow: 0px 0px 20px rgb(189, 145, 25),
    0px 0px 10px rgb(189, 145, 25);
}